<title>My application</title>
  <h1>Hello, World!</h1>

  <p>First form takes a list of string.</p>
  <p>Second form takes a float number.</p>
  <p>Third form takes a seperator char. This should be a single character.</p>
 
  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>

  Result is {{result}}